@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(10, 28, 46);
}

#title {
    text-align: center;
    color: rgb(245, 255, 188);
    font-family: 'Roboto', sans-serif;
}

#canvasDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

#canvas {
    background-color: white;
}

#buttonsDiv {
    width: 512px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 30px;
    
}